<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>订单历史查询</title>
    <meta content="text/html" charset=utf-8>   
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/style_nomal.css" rel="stylesheet" type="text/css" />
	<link href="/css/tran_history.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/js/jquery-1.9.1.js"></script>

  </head>
  <body>
  
  
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">

          <a class="brand" href="#">Online Payment</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li><a href="#">账户设置</a></li>
              <li><a href="../buyer/order_manage.html">我是买家</a></li>
              <li><a href="../seller/order_manage.html">我是卖家</a></li>
			  <li class="active"><a href="#contact">淘宝贝</a></li>
			  <li><a href="#contact">在线预订</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
      <div class="hero-unit"></div>
      <div class="container-fluid">
          <div class="row-fluid">
              <div class="span2">
                  <div class="well sidebar-nav">
                      <ul class="nav nav-list">
                          <li class="nav-header">酒店</li>
                          <li><a href="hotelbooking.html">酒店预定</a></li>
                          <li><a href="innbooking.html">旅馆预定</a></li>
                          <li class="nav-header">航班</li>
                          <li><a href="interflight.html">国际航班</a></li>
                          <li ><a href="domeflight.html">国内航班</a></li>
                          <li class="active nav-header"><a href="/booking_history">订单历史</a></li>
                      </ul>
                  </div><!--/.well -->
              </div><!--/span-->
        <div class="span10">
	<div class="main">
  	
	  <div class="rimidebox">
		<a href="order_manage.html">我的订单</a><span>>></span><a href="tran_history.html">订单记录</a>
      </div>
      
	  <div class="order_list">
		<form class="orderquery">
            	<label class="control-label" for="time">成交时间</label>
                <input type="text" placeholder="Begin date" id="lower_date">
                <input type="text" placeholder="End date" id="lower_date">
            
            	<label class="control-label" for="time">交易类型</label>
            	<select id="statequery">
						<option data-msg="机票预定" value="ALL">机票预定</option>
						<option data-msg="酒店预定" value="ALL">酒店预定</option>
                </select>
             <div>
			 <button type="submit" class="btn">搜索</button>
             </div>
		</form>
        <div class="well">
		<table class="table bought_list " id="order_list">
		<thead>
			<tr class="col_name">			
				<th class="item" colspan="2">商品</th>
				<th class="totalprice">价格</th>
			</tr>

		</thead>
		<tbody>
			<tr class="order_head">
				<td  colspan="7">
				<span class="order_num">订单编号： </span>
                <span class="deal-time">成交时间： </span>
			</tr>
			<tr class="order_item">
				<td class="item_pic"><a><img/></a></td>
				<td class="item_name"></td>
				<td class="price"></td>
				<td class="num"></td>
				<td class="totalprice" rowspan="2"></td>
				<td class="logistic" rowspan="2"></td>
				<td class="trade_state" rowspan="2"></td>
			</tr>
		</tbody>
		</table>
		<div class="pageNac"></div>
      	</div>
      </div>
     </div>
   		</div>
    </div>
	</div>
   <footer class="tail">
		<hr>
        <a href="">关于我们</a>
        <a href="">合作伙伴</a>
        <a href="">联系客服</a>
        <a href="../other/connect_us.html">联系我们</a>
        <a href="../other/map.html">网站地图</a>
        <span>© 2013 Black.com 版权所有</span>
   </footer>
  
  </body>
  
</html>