<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>购物车</title>   
    <meta charset=utf-8>  
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/style_nomal.css" rel="stylesheet" type="text/css" />
    <link href="/css/3.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  
  
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">

          <a class="brand" href="#">Online Payment</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li><a href="#">账户设置</a></li>
              <li><a href="order_manage.html">我是买家</a></li>
              <li><a href="../seller/order_manage.html">我是卖家</a></li>
			  <li class="active"><a href="#contact">淘宝贝</a></li>
			  <li><a href="#contact">在线预订</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  

  <div class="hero-unit"></div>
   <div class="container-fluid">
       <div class="row-fluid">
           <div class="span2">
               <div class="well sidebar-nav">
                   <ul class="nav nav-list">
                       <li class="nav-header">酒店</li>
                       <li><a href="/hotel/search">酒店预定</a></li>
                       <li><a href="/hotel/search">旅馆预定</a></li>
                       <li class="nav-header">航班</li>
                       <li><a href="/flight/search">国内航班</a></li>
                       <li><a href="/flight/search">国际航班</a></li>
                       <li class="nav-header">订单管理</li>
                       <li  class="active"><a href="/trade/booking_history">订单历史</a></li>
                       <li ><a href="/trade/comment">评价</a></li>

                   </ul>
               </div><!--/.well -->
           </div><!--/span-->
        <div class="span10">
	<div class="main">
	  <div class="rimidebox">
          <a href="bookindex.html">预定系统</a><span>>></span><a href="bookindex.html"></a><span><a href="domeflight.html"> 机票预定</a></span>>><span><a href="domeflight.html"> 购物车</a></span>

      </div>
	  <div class="spcart_top  text-right">
		<span>商品总价(不含运费) :</span><span>00000.00</span><span> &nbsp </span>
		<input class="btn" type="submit"value="结算">
      </div>
      <div class="spcart_middle well sidebar-nav">
      	<table class="table table-striped">
       	 <thead>
         	<th class="item_pic"></th>
        	<th class="item_name">商品</th>
            <th class="price">单价</th>
            <th class="num">数量</th>
            <th class="totalprice">小计</th>
            <th>
            </th>
       	 </thead>
            </table>
      </div>
      
      <div class="spcart_bottom  text-right">
		<h3><span>商品总价:</span><span id="totalprice">&#65509; </span><input class="btn btn-success" type="submit"value="结算"></h3>
	  </div>      
  </div>
  </div>
	</div>
	</div>
  <footer class="tail">
		<hr>
        <a href="">关于我们</a>
        <a href="">合作伙伴</a>
        <a href="">联系客服</a>
        <a href="../other/connect_us.html">联系我们</a>
        <a href="../other/map.html">网站地图</a>
        <span>© 2013 Black.com 版权所有</span>
   </footer>
  </body>
	
	
</html>