<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>航班信息管理</title>
        <meta content="text/html" charset=utf-8>   
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/css/seller_search_form.css" rel="stylesheet" type="text/css" />
        <link href="/css/style_nomal.css" rel="stylesheet" type="text/css" />
        <link href="/css/tran_history.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>

    </head>
    <body>
  
  
%include template/head_bar.inc
        <div class="hero-unit"></div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">酒店</li>
                            <li><a href="hotel_manage.html">酒店信息管理</a></li>
                            <li><a href="hotel_manage.html">酒店订单管理</a></li>
                            <li><a href="hotel_manage.html">酒店评论管理</a></li>
                            <li class="nav-header">航班</li>
                            <li class="active"><a href="#">航班信息管理</a></li>
                            <li><a href="booking_manage.html">航班订单管理</a></li>
                            <li><a href="comment_manage.html">航班评论管理</a></li>
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->

            <div class="span10">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="seller-search-form">
                            <div>
                                <label class="search-label">出发城市</label>
                                <input class="search-input" type="text" id="bsDepartureCity" placeholder="城市">
                            </div>
                            <div>
                                <label class="search-label">出发日期</label>
                                <input class="search-input" type="date" id="bsDepartureTime" placeholder="日期">
                            </div>
                            <div>
                                <label class="search-label">航班号</label>
                                <input class="search-input" type="text" id="bsFlightId" placeholder="航班号">
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="seller-search-form">
                            <div>
                                <label class="search-label">到达城市</label>
                                <input class="search-input" type="text" id="bsArrivalCity" placeholder="城市">
                            </div>
                            <div>
                                <label class="search-label">到达日期</label>
                                <input class="search-input" type="date" id="bsArrivalTime" placeholder="日期">
                            </div>
                        </div>
                    </div>

                </div>
  	        </div> 
        </div>

        <footer class="tail">
            <hr>
            <a href="">关于我们</a>
            <a href="">合作伙伴</a>
            <a href="">联系客服</a>
            <a href="../other/connect_us.html">联系我们</a>
            <a href="../other/map.html">网站地图</a>
            <span>© 2013 Black.com 版权所有</span>
        </footer>
  
    </body>
  
</html>
