<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>酒店信息管理</title>
        <meta content="text/html" charset=utf-8>   
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/css/manage.css" rel="stylesheet" type="text/css" />
        <link href="/css/style_nomal.css" rel="stylesheet" type="text/css" />
        <link href="/css/tran_history.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/bootstrapex.js"></script> <!-- test -->
    </head>
    <body>
  
  
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">

                    <a class="brand" href="#">Online Payment</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                            Logged in as <a href="#" class="navbar-link">Username</a>
                        </p>
                        <ul class="nav">
                            <li><a href="#">账户设置</a></li>
                            <li><a href="../buyer/order_manage.html">我是买家</a></li>
                            <li class="active"><a href="../seller/order_manage.html">我是卖家</a></li>
		        	        <li><a href="../flight/search.html">淘宝贝</a></li>
			                <li><a href="#contact">在线预订</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="hero-unit"></div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">酒店</li>
                            <li class="active"><a href="hotel_manage.html">酒店信息管理</a></li>
                            <li><a href="hotel_manage.html">酒店订单管理</a></li>
                            <li><a href="hotel_manage.html">酒店评论管理</a></li>
                            <li class="nav-header">航班</li>
                            <li><a href="#">航班信息管理</a></li>
                            <li><a href="booking_manage.html">航班订单管理</a></li>
                            <li><a href="comment_manage.html">航班评论管理</a></li>
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->

                <div class="span9">
                    <div class="row-fluid"> <!-- search panel -->
                        <div class="seller-search-form" id="basicSearch">
                            <div class="row-fluid"> <!-- search inputs -->
                                <table class="grid-form">
                                    <tr>
                                        <td>
                                                <div>
                                                    <label class="search-label">酒店编号</label>
                                                    <input class="search-input" type="text" id="bsHID" placeholder="编号">
                                                </div>
                                        </td>
                                        <td>
                                                <div>
                                                    <label class="search-label">酒店名称</label>
                                                    <input class="search-input" type="text" id="bsName" placeholder="名称">
                                                </div>
                                        </td> <!-- span4 -->
                                        <td>
                                                <div>
                                                    <label class="search-label">酒店位置</label>
                                                    <input class="search-input" type="text" id="bsLocation" placeholder="地点">
                                                </div>
                                        </td> <!-- span4 -->
                                    </tr>
                                </table>
                            </div>
                            
                            <div class="row-fluid"> <!-- buttons -->
                                <div class="grid-form" style="text-align:center;">
                                    <button class="btn" style="width:20%" type="button" id="bsSearch">搜索</button>
                                </div>
                            </div>
                        </div> <!-- seller-search-form -->
                    </div> <!-- row-fluid -->
                    <h3 id="searchVerbose">共有1个搜索结果</h3>
                    <div class="row-fluid"> <!-- search result -->
                        <table class="table table-striped" id="resultTable" style="table-layout:fixed">
                            <colgroup>
                                <col width="22%" />
                                <col width="22$" />
                                <col width="22%" />
                                <col width="22%" />
                                <col width="12%" />
                            </colgroup>
                            <tr> <!-- header -->
                                <th class="text-cropped">酒店编号</th>
                                <th class="text-cropped">酒店名称</th>
                                <th class="text-cropped">酒店位置</th>
                                <th class="text-cropped">酒店描述</th>
                            </tr>
                        </table>
                    </div>
                    <div class="row-fluid"> <!-- add result -->
                        <table class="table" id="addTable" style="table-layout:fixed">
                            <colgroup>
                                <col width="22%" />
                                <col width="22%" />
                                <col width="22%" />
                                <col width="22%" />
                                <col width="12%" />
                            </colgroup>
                            <tr>
                                <td class="text-cropped">新的酒店</td>
                                <td style="padding:0;"><input class="input-cropped" id="atName" type="text" placeholder="input"></td>
                                <td style="padding:0;"><input class="input-cropped" id="atDescription" type="text" placeholder="input"></td>
                                <td style="padding:0;"><input class="input-cropped" id="atLocation" type="text" placeholder="input"></td>
                                <td>
                                    <div>
                                        <button class="btn" style="width:10px;float:left;" id="atAdd"><i class="icon-ok"></i></button>
                                        <button class="btn" style="width:10px;float:left;" id="atRemove"><i class="icon-remove"></i></button>
                                        <button class="btn" style="width:10px;float:left;" id="atReset"><i class="icon-repeat"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div> <!-- span9 -->
                
            </div> 
        </div>

        <footer class="tail">
            <hr>
            <a href="">关于我们</a>
            <a href="">合作伙伴</a>
            <a href="">联系客服</a>
            <a href="../other/connect_us.html">联系我们</a>
            <a href="../other/map.html">网站地图</a>
            <span>© 2013 Black.com 版权所有</span>
        </footer>
  
    </body>
  
</html>

<script> // tools
// checks overflow in our one-line context
function checkOverflow(cell) {
    return (cell.prop('scrollWidth') > cell.innerWidth() || cell.text().indexOf('\n') >= 0)
}
function cellPosition(cell) {
    var col = cell.prop('cellIndex');
    var row = cell.closest('tr').prop('rowIndex');
    return [row, col];
}
function createArray(length) {
    var arr = new Array(length || 0),
    i = length;
    
    if (arguments.length > 1) {
        var args = Array.prototype.slice.call(arguments, 1);
        while(i--) arr[length - 1 - i] = createArray.apply(this, args);
    }
    return arr;
}
function textToHtml(text) {
    return text.replace(/\n/g, '<BR>');
}
</script>

<script> // page specified functions
function editable(param) {
    var col;
    if(typeof param == 'number') {
        col = param;
    } else {
        col = param.prop('cellIndex');
    }
    
    if(col == 0 || col == 4)
        return false;
    else
        return true;
}
function isValid(col, text) {
    if(!editable(col)) return false;
    if(text.length > 255) return false;
    return true;
}
function mapResult(res) {
    return $.map(res, function(ele) {
        return [[ele[3], ele[2], ele[0], ele[1]]];
    });
}
var rowtmpl = '<tr><td class="text-cropped" rel="popover">__col1__</td>'
    + '<td class="text-cropped">__col2__</td>'
    + '<td class="text-cropped">__col3__</td>'
    + '<td class="text-cropped">__col4__</td>'
    + '<td><div><button class="btn" style="width:10px;float:left;"><i class="icon-ok"></i></button>'
    + '<button class="btn" style="width:10px;float:left;"><i class="icon-remove"></i></button>'
    + '<button class="btn" style="width:10px;float:left;"><i class="icon-repeat"></i></button></div></td></tr>';
var schema = ['hid', 'name', 'location', 'description'];
</script>

<script> // class ResultTable
var rt;    
function ResultTable(data) {
    this.$table = $('#resultTable');
    console.log('lookhere', data, mapResult(data));
    this.data = [schema].concat(mapResult(data));
    this.overflow = createArray(data.length + 1, schema.length);
    this.updateContent();
}
ResultTable.prototype = {
    getRow: function(row) {
        return this.$table.find('tr:eq(' + row + ')');
    },
    
    getRowCnt: function() {
        //console.log(this.$table.find('tr'));
        return this.$table.find('tr').length;
    },
    
    getCell: function(row, col) {
        if(typeof row == 'number')
            return this.$table.find('tr:eq(' + row + ') td:eq(' + col + ')');
        else
            return row.find('td:eq(' + col + ')');
    },
    
    pushRow: function(rowData) {
        var newRow = $(rowtmpl);
        var row = this.getRow(this.getRowCnt() - 1);
        newRow.insertAfter(row);
        
        this.overflow.push(new Array(schema.length));
        for(var i = 0; i < schema.length; i++) {
            if(editable(i)) {
                console.log(rowData);
                this.modifyCell(this.getCell(newRow, i), rowData[i]);
            } else {
                this.getCell(newRow, i).html(rowData[i]);
            }
        }
    },
    
    /*pushRow: function(rowData) {
        this.insertRow(rowData, this.getRowCnt().length);
    },*/
    
    removeRow: function(rowid) {
        this.getRow(rowid).remove();
    },
    
    popRow: function() {
        this.removeRow(this.getRowCnt() - 1);
    },
    resetRow: function() {
    },
    commitRow: function() {
    },
    
    updateContent: function() {
        var curRowCnt = this.getRowCnt();
        //console.log(curRowCnt, this.data.length);
        //console.log(this.data);
        var minRowCnt = Math.min(curRowCnt, this.data.length);
        // skip header
        for(var row = 1; row < minRowCnt; row++) {
            // set index directly
            this.getCell(row, 0).html(this.data[row][0]);
            for(var col = 1; col < this.data[row].length; col++) {
                console.log(row, col, this.data[row][col]);
                this.modifyCell(row, col, this.data[row][col]);
            }
        }
        if(curRowCnt > this.data.length) {
            for(var t = curRowCnt - this.data.length; t--; )
                this.popRow();
        } else if(curRowCnt < this.data.length) {
            for(var t = curRowCnt; t < this.data.length; t++)
                this.pushRow(this.data[t]);
        }
    },
    
    addPopover: function(param1, param2) {
        var obj;
        if(typeof param1 == 'number') { // row col
            obj = $($(this.$table.children()[param1]).children()[param2]);
        } else { // obj
            obj = param1;
        }
        
        var edit = false;
        var edittmpl = '<div><textarea style="height:100px">__texthere__</textarea></div>'
            + '<div style="text-align:center;"><button class="btn btn-primary">保存</button>'
            + '<button class="btn">放弃</button></div>';
        var viewtmpl = '<div style="word-wrap:break-word;">__texthere__</div>'
            + '<div style="font-size:8px;line-height:8px;color:#C0C0C0;text-align:right;">click to edit</div>'
        
        obj.popoverex({
            trigger: 'hover', 
            hoverReserve: "in in_popover",
            delay: {show: 100, hide: 1000},
            placement: 'bottom',
            html: true,
            container: 'body',
            content: function() {
                return viewtmpl.replace('__texthere__', textToHtml($(this).text()));
            },
            popover_click: function(e) {
                ////console.log(edit);
                if(!edit && $(e.target).prop('tagName') == 'DIV') {
                    edit = true;
                    
                    var ele = e.data.ele, pop = e.data.pop;
                    var popcontent = pop.find('[class=popover-content]');
                    ele.popoverex('pin');
                    popcontent.html(edittmpl.replace('__texthere__', ele.text())); //text()));
                    var textarea = popcontent.find('textarea');
                    textarea.focus().select();
                    
                    // register button events
                    var buttons = pop.find('button');
                    var close = function() {
                        buttons.each(function() {
                            $(this).off('click');
                        });
                        ele.popoverex('unpin');
                        ele.popoverex('hide');
                        edit = false;
                        ////console.log(edit);
                    };
                    $(buttons[0]).click(function() {
                        close();
                        rt.modifyCell(ele, textarea.val())
                    });
                    $(buttons[1]).click(close)
                }
            },
        });
    },

    modifyCell: function(param1, param2, param3) {
        var cell, row, col, text;
        if(typeof param1 == 'number') { // row col
            row = param1;
            col = param2;
            cell = this.getCell(row, col);
            //console.log(cell);
            text = param3;
        } else { // cell
            cell = param1;
            text = param2;
            [row, col] = cellPosition(cell);
            //console.log(row, col);
        }
        
        if(!isValid(col, text)) {
            alert('invalid');
        }
        else {
            // modify
            //console.log(row, col, 'from', cell.text(), 'to', text);
            cell.html(text);
            // popover
            var cellOverflow = checkOverflow(cell);
            console.log(row, col);
            console.log('cellOverflow', cellOverflow, 'orioverflow', this.overflow[row][col], 'text is', text);
            if(!this.overflow[row][col] && cellOverflow)  {
                this.overflow[row][col] = true;
                this.addPopover(cell);
            } else if(this.overflow[row][col] && !cellOverflow) {
                this.overflow[row][col] = false;
                cell.popoverex('destroy');
            }
        }
    }
}
rt = new ResultTable([]);
</script>

<script> //event handlers
$('#resultTable').click(function(e) {
    if($(e.target).prop('tagName') == 'INPUT') // avoid re-focusing
        return;
    var pos = cellPosition($(e.target));
    if(rt.overflow[pos[0]][pos[1]]) return;
                           
                           var cell = $(e.target).closest('td');
    if(cell.prop('tagName') == 'TD' && editable(cell)) {
        cell.css('padding', 0);
    
    var text = cell.text();
    cell.html('')
    .append('<input type="text" class="input-cropped" value="' + text + '">');
    
    var input = $(cell.children()[0]);
    input.focus().select();
    }
});
    
$('#resultTable').focusout(function(e){
    var text = $(e.target).val();
    var cell = $(e.target).closest('td');
    if(editable(cell)) {
        cell.css('padding', 8);
        rt.modifyCell(cell, text);
    }
});
            
$('#bsSearch').click(function(e) {
    $.getJSON(
        '/manage/hotel/async',
        {
            h_id: $('#bsHID').val(),
                        name: $('#bsName').val(),
                        location: $('#bsLocation').val(),
                    type: 'search',
        },
        function(data) {
            //console.log(data);
            rt = new ResultTable(data.hotel);
        });
});

$('#atAdd').click(function(e) {
    var row = $('#addTable tr:first');
    ////console.log($(row.children()[0]).val());
    $.getJSON(
        '/manage/hotel/async',
        {
            h_id: '',
            name: $(row.children()[1]).find('input:first').val(),
            location: $(row.children()[2]).find('input:first').val(),
            description: $(row.children()[3]).find('input:first').val(),
            type: 'add',
        },
        function(data) {
            //console.log(data);
        });
});
</script>