<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>航班信息管理</title>
        <meta content="text/html" charset=utf-8>   
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/css/manage.css" rel="stylesheet" type="text/css" />
        <link href="/css/style_nomal.css" rel="stylesheet" type="text/css" />
        <link href="/css/tran_history.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/bootstrap-popoverex.js"></script> <!-- test -->
        <script type="text/javascript" src="/js/manage/util.js"></script>
        <script type="text/javascript" src="/js/manage/resulttable.js"></script>
    </head>
    <body>
  
%include template/head_bar.inc
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
%include template/manage/nav_list.inc active='nlFlight'
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->

                <div class="span9">
                    <div class="row-fluid"> <!-- search panel -->
                        <div class="seller-search-form" id="basicSearch">
                            <div class="row-fluid"> <!-- search inputs -->
                                <table class="grid-form">
                                    <tr>
                                        <td>
                                                <div>
                                                    <label class="search-label">出发城市</label>
                                                    <input class="search-input" type="text" id="bs_departureCity" placeholder="城市">
                                                </div>
                                        </td>
                                        <td>
                                                <div>
                                                    <label class="search-label">到达城市</label>
                                                    <input class="search-input" type="text" id="bs_arrivalCity" placeholder="城市">
                                                </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            
                            <div class="row-fluid"> <!-- buttons -->
                                <div class="grid-form" style="text-align:center;">
                                    <button class="btn" style="width:20%" type="button" id="bsSearch">搜索</button>
                                </div>
                            </div>
                        </div> <!-- seller-search-form -->
                    </div> <!-- row-fluid -->
                    <h3 id="resultVerbose">共0条结果</h3>
                    <div class="row-fluid"> <!-- search result -->
                        <table class="table table-hover" id="resultTable" style="table-layout:fixed">
                            <colgroup>
                                <col width="10%" />
                                <col width="16%" />
                                <col width="16%" />
                                <col width="7%" />
                                <col width="12%" />
                                <col width="6%" />
                                <col width="8%" />
                                <col width="13%" />
                                <col width="12%" />
                            </colgroup>
                            <tr> <!-- header -->
                                <th class="text-cropped">航班编号</th>
                                <th class="text-cropped">起降机场</th>
                                <th class="text-cropped">起降时间</th>
                                <th class="text-cropped">机型</th>
                                <th class="text-cropped">日程</th>
                                <th class="text-cropped">准点率</th>
                                <th class="text-cropped">中转</th>
                                <th class="text-cropped">报价</th>
                            </tr>
                        </table>
                    </div>
                    <div class="row-fluid"> <!-- add result -->
                        <table class="table" id="addTable" style="table-layout:fixed">
                            <colgroup>
                                <col width="10%" />
                                <col width="16%" />
                                <col width="16%" />
                                <col width="7%" />
                                <col width="12%" />
                                <col width="6%" />
                                <col width="8%" />
                                <col width="13%" />
                                <col width="12%" />
                            </colgroup>
                            <tr>
                                <!--<td class="text-cropped">新的航班</td>-->
                                <td class="cell"><input class="cell-content input" id="at_flightNumber" type="text" placeholder="航班号"></td>
                                <td class="cell">
                                    <div class="cell cell-content"><input class="cell-content input" id="at_departureAirport" type="text" placeholder="起飞机场"></div>
                                    <div class="cell cell-content"><input class="cell-content input" id="at_arrivalAirport" type="text" placeholder="到达机场"></div>
                                </td>
                                <td class="cell">
                                    <div class="cell cell-content"><input class="cell-content input" id="at_departureTime" type="time" placeholder="起飞时间"></div>
                                    <div class="cell cell-content"><input class="cell-content input" id="at_arrivalTime" type="time" placeholder="到达时间"></div>
                                </td>
                                <td class="cell"><input class="cell-content input" id="at_aircraftType" type="text" placeholder="机型"></td>
                                <td class="cell"><input class="cell-content input" id="at_schedule" type="text" placeholder="日程"></td>
                                <td class="cell"><input class="cell-content input" id="at_punctuality" type="text" placeholder="准点率"></td>
                                <td class="cell"><input class="cell-content input" id="at_stop" type="text" placeholder="中转"></td>
                                <td class="cell">
                                    <div class="cell cell-content"><input class="cell-content input" id="at_price" type="text" placeholder="报价"></div>
                                    <div class="cell cell-content"><input class="cell-content input" id="at_airportTax" type="text" placeholder="机场税"></div>
                                    <div class="cell cell-content"><input class="cell-content input" id="at_fuelTax" type="text" placeholder="燃油税"></div>
                                </td>
                                <td>
                                    <div>
                                        <button class="btn btn-icon" id="atAdd"><i class="icon-ok"></i></button>
                                        <button class="btn btn-icon" id="atRemove"><i class="icon-remove"></i></button>
                                        <!--<button class="btn" style="width:10px;float:left;" id="atReset"><i class="icon-repeat"></i></button>-->
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div> <!-- span9 -->
                
            </div> 
        </div>

        <footer class="tail">
            <hr>
            <a href="">关于我们</a>
            <a href="">合作伙伴</a>
            <a href="">联系客服</a>
            <a href="../other/connect_us.html">联系我们</a>
            <a href="../other/map.html">网站地图</a>
            <span>© 2013 Black.com 版权所有</span>
        </footer>
  
    </body>
  
</html>
<!--TODO: table sort -->
<!--TODO: forbid multiple popover -->
<script> // page specified functions
function mapDbToTable(dbdata) {
    //console.log(dbdata);
    return $.map(dbdata, function(ele, index) {
        ele = parseObject(ele);
        return [[ele[0], 
                [ele[3], ele[5]], 
                [ele[4], ele[6]], 
                 ele[7],
                 ele[8],
                 ele[9],
                 ele[10], 
                [ele[11], ele[2], ele[1]]]];
    });
}

function mapTableToDb(tbdata) {
    return $.map(tbdata, function(ele, index) {
        var arr = [ele[0], ele[7][2], ele[7][1], ele[1][0], ele[2][0], ele[1][1], ele[2][1], ele[3], ele[4], ele[5], ele[6], ele[7][0]];
        return buildObject(function(index) { return arr[index]; });
    });
}

function buildObject(iterFunc) {
    var ret = {};
    for(var i = 0; i < dbschema.length; i++) {
        ret[dbschema[i]] = iterFunc(i);
    }
    return ret;
}

function parseObject(obj) {
    var ret = [];
    for(var key in dbschema) {
        ret.push(obj[dbschema[key]]);
    }   
    return ret;
}

var dbschema = ['flightNumber', 'fuelTax', 'airportTax', 'departureAirport', 'departureTime',
                'arrivalAirport', 'arrivalTime', 'aircraftType', 'schedule', 'punctuality', 'stop', 'price'];
var schema = [{id:'flightNumber', name:'航班号', type: 'string', primaryKey: true}, 
                {id:'airport', name:'机场', children: [
                    {id: 'departureAirport', name: '起飞机场', type: 'string'},
                    {id: 'arrivalAirport', name:'到达机场', type: 'string'}
                ]}, 
                {id:'time', name:'时间', children: [
                    {id: 'departureTime', name: '起飞时间', type: 'time'}, 
                    {id: 'arrivalTime', name: '到达时间', type: 'time'}
                ]}, 
                {id: 'aircraftType', name: '机型', type: 'string'}, 
                {id: 'schedule', name: '日程', type: 'string'},
                {id: 'punctuality', name: '准点率', type: 'float'},
                {id: 'stop', name: '中转', type: 'bool'}, 
                {id: 'price', name: '价格', children: [
                    {id: 'price', name: '报价', type: 'float'},
                    {id: 'fuelTax', name: '燃油税', type: 'float'},
                    {id: 'airportTax', name: '机场税', type: 'float'},
                ]}];
var asyncURL = '/manage/flight/info/async';
var rt = new ResultTable('resultTable', schema, []);
//var at = new ResultTable('addTable', schema, [[[1],[3,2],[2,3],[4],[5],[6],[7],[8,9,10]]]);
</script>

<script> //event handlers
$('#resultTable').click(function(e) {
    switch($(e.target).prop('tagName')) {
    case 'TD':
    case 'DIV': {
        var div = $(e.target);
        rt.edit(div);
        break;
    }
    case 'I':
        if($(e.target).parent().prop('tagName') != 'BUTTON')
            break;
    case 'BUTTON': {
        //TODO: enable and disable of buttons
        var btn = $(e.target).closest('button');
        var rowId = btn.closest('tr').prop('rowIndex');
        var children = rt.getRow(rowId).children();
        var tbdata = [];
        for(var i = 0; i < schema.length; i++) {
            tbdata.push(rt.getCellCache($(children[i])));
        }
        //var dbdata = mapTableToDb([tbdata]);
        var queryObj = mapTableToDb([tbdata])[0];
        //console.log(queryObj);
        
        switch(btn.parent().children().index(btn)) {
        case 0: { // submit
            //var queryObj = buildObject(function(index) { return dbdata[0][index]; });
            queryObj.type = 'update';
            $.getJSON(
                asyncURL, queryObj,
                function(data) {
                    if(data.status == 'succeeded')
                        rt.commitRow(rowId);
                    else
                        alert('Submit failed');
                });
            break;
        }
        case 1: { // remove
            $.getJSON(
                asyncURL,
                {
                    flightNumber: queryObj.flightNumber,
                    type: 'delete',
                },
                function(data) {
                    //console.log(data);
                    rt.removeRow(rowId);
                    $('#resultVerbose').text('共' + (rt.getRowCnt() - 1) + '条结果');
                });
            break;
        }
        case 2: { // reset
            rt.resetRow(rowId);
            break;
        }
        }
    }
    }
});
    
$('#resultTable').focusout(function(e){
    var text = $(e.target).val();
    var div = $(e.target).closest('div, td');
    if(cellPosition(div).col < schema.length)
        rt.modifyCell(div);
});
            
$('#bsSearch').click(function(e) {
    $.getJSON(
        asyncURL,
        {
            //flightNumber: $('#bs_flightNumb').val(),
            departureCity: $('#bs_departureCity').val(),
            arrivalCity: $('#bs_arrivalCity').val(),
            type: 'search',
        },
        function(data) {
            //console.log(mapDbToTable(data.flight));
            console.log(data);
            if(data.status == 'succeeded') {
                rt.setData(mapDbToTable(data.flight));
                $('#resultVerbose').text('共' + (rt.getRowCnt() - 1) + '条结果');
            }
        });
});

$('#atAdd').click(function(e) {
    var row = $('#addTable tr:first');
    var queryObj = buildObject(function(index) { 
        var input = $('#at_' + dbschema[index]);
        return (input.length ? input.val() : undefined); 
    });
    queryObj.type = 'add';
    $.getJSON(
        asyncURL,
        queryObj,
        function(data) {
            //console.log(data);
            if(data.status == 'succeeded') {
                $('#addTable input').val('');
                rt.pushRow(mapDbToTable([queryObj])[0]);
                $('#resultVerbose').text('共' + (rt.getRowCnt() - 1) + '条结果');
            }
            else
                alert('Add failed');
        });
});
$('#atRemove').click(function(e) {
    $('#addTable input').val('');
});
</script>

