<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>航班订单管理</title>
        <meta content="text/html" charset=utf-8>   
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/css/manage.css" rel="stylesheet" type="text/css" />
        <link href="/css/style_nomal.css" rel="stylesheet" type="text/css" />
        <link href="/css/tran_history.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/bootstrap-popoverex.js"></script>
        <script type="text/javascript" src="/js/manage/resulttable.js"></script>
        <script type="text/javascript" src="/js/manage/util.js"></script>
        <script type="text/javascript" src="/js/jquery-maskedinput.js"></script>
    </head>
    <body>
%include template/head_bar.inc

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
%include template/manage/nav_list.inc active='nlFlightTransaction'
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->

                <div class="span9">
                    <div class="row-fluid"> <!-- search panel -->
                        <div class="seller-search-form" id="basicSearch">
                            <div class="row-fluid"> <!-- search inputs -->
                                <table class="grid-form">
                                    <tr>
                                        <td>
                                                <div>
                                                    <label class="search-label">用户标识</label>
                                                    <input class="search-input" type="text" id="bs_u_id" placeholder="input">
                                                </div>
                                        </td>
                                        <td>
                                                <div>
                                                    <label class="search-label">起始时间</label>
                                                    <input class="search-input" type="datetime" id="bs_beginDate" placeholder="input">
                                                </div>
                                        </td> <!-- span4 -->
                                        <td>
                                                <div>
                                                    <label class="search-label">结束时间</label>
                                                    <input class="search-input" type="datetime" id="bs_endDate" placeholder="input">
                                                </div>
                                        </td> <!-- span4 -->
                                    </tr>
                                </table>
                            </div>
                            
                            <div class="row-fluid"> <!-- buttons -->
                                <div class="grid-form" style="text-align:center;">
                                    <button class="btn" style="width:20%" type="button" id="bsSearch">搜索</button>
                                </div>
                            </div>
                        </div> <!-- seller-search-form -->
                    </div> <!-- row-fluid -->
                    <h3 id="resultVerbose">共0条结果</h3>
                    <div class="row-fluid"> <!-- search result -->
                        <table class="table table-hover" id="resultTable" style="table-layout:fixed">
                            <colgroup>
                                <col width="8%" />
                                <col width="8%" />
                                <col width="8%" />
                                <col width="15%" />
                                <col width="8%" />
                                <col width="8%" />
                                <col width="20%" />
                                <col width="16%" />
                                <col width="10%" />
                            </colgroup>
                            <tr> <!-- header -->
                                <th class="text-cropped">订单编号</th>
                                <th class="text-cropped">航班编号</th>
                                <th class="text-cropped">用户标识</th>
                                <th class="text-cropped">交易时间</th>
                                <th class="text-cropped">订单金额</th>
                                <th class="text-cropped">订单状态</th>
                                <th class="text-cropped">用户信息</th>
                                <th class="text-cropped">联系人信息</th>
                            </tr>
                        </table>
                    </div>
                    <div class="row-fluid"> <!-- add result -->
                        <table class="table" id="addTable" style="table-layout:fixed">
                            <colgroup>
                                <col width="8%" />
                                <col width="8%" />
                                <col width="8%" />
                                <col width="15%" />
                                <col width="8%" />
                                <col width="8%" />
                                <col width="20%" />
                                <col width="16%" />
                                <col width="10%" />
                            </colgroup>
                            <tr>
<!--                                 <td class="text-cropped">新的订单</td> -->
                                <td class="cell"><input class="cell-content input" id="at_t_id" type="text" placeholder="订单编号"></td>
                                <td class="cell"><input class="cell-content input" id="at_flightNumber" type="text" placeholder="航班编号"></td>
                                <td class="cell"><input class="cell-content input" id="at_u_id" type="text" placeholder="用户标识"></td>
                                <td class="cell"><input class="cell-content input" id="at_time" type="datetime" placeholder="交易时间"></td>
                                <td class="cell"><input class="cell-content input" id="at_price" type="text" placeholder="订单金额"></td>
                                <td class="cell"><input class="cell-content input" id="at_status" type="text" placeholder="订单状态"></td>
                                <td class="cell">
                                    <div class="cell cell-content"><input class="cell-content input" id="at_is_child" type="text" placeholder="未成年"></div>
                                    <div class="cell cell-content"><input class="cell-content input" id="at_user_name" type="text" placeholder="用户姓名"></div>
                                    <div class="cell cell-content"><input class="cell-content input" id="at_ID_type" type="time" placeholder="证件类型"></div>
                                    <div class="cell cell-content"><input class="cell-content input" id="at_ID_number" type="time" placeholder="证件号"></div>
                                </td>
                                <td class="cell">
                                    <div class="cell cell-content"><input class="cell-content input" id="at_contact_name" type="text" placeholder="联系人姓名"></div>
                                    <div class="cell cell-content"><input class="cell-content input" id="at_contact_tel" type="text" placeholder="联系人电话"></div>
                                    <div class="cell cell-content"><input class="cell-content input" id="at_contact_email" type="text" placeholder="联系人邮箱"></div>
                                </td>
                                <td>
                                    <div>
                                        <button class="btn btn-icon" id="atAdd"><i class="icon-ok"></i></button>
                                        <button class="btn btn-icon" id="atRemove"><i class="icon-remove"></i></button>
                                        <!--<button class="btn" style="width:10px;float:left;" id="atReset"><i class="icon-repeat"></i></button>-->
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div> <!-- span9 -->
                
            </div> 
        </div>

        <footer class="tail">
            <hr>
            <a href="">关于我们</a>
            <a href="">合作伙伴</a>
            <a href="">联系客服</a>
            <a href="../other/connect_us.html">联系我们</a>
            <a href="../other/map.html">网站地图</a>
            <span>© 2013 Black.com 版权所有</span>
        </footer>
  
    </body>
  
</html>

<script> // shared and static elements settings
$.mask.definitions['b'] = '[0|1]';
$('#at_time').mask("9999-99-99 99:99:99");
$('#at_is_child').mask('b');
var inputDatetime = $('<input type="text" class="cell-content input">');
var inputBool = $('<input type="text" class="cell-content input">');
inputDatetime.mask("9999-99-99 99:99:99");
inputBool.mask('b');
</script>

<script> // page specified functions
function mapDbToTable(dbdata) {
    //console.log(dbdata);
    return $.map(dbdata, function(ele, index) {
        //ele = parseObject(ele);
        return [[ele['t_id'],
                 ele['flightNumber'],
                 ele['u_id'],
                 ele['time'],
                 ele['price'],
                 ele['status'],
                [ele['is_child'], ele['user_name'], ele['ID_type'], ele['ID_number']],
                [ele['contact_name'], ele['contact_tel'], ele['contact_email']]
                ]];
    });
}

function mapTableToDb(tbdata) {
    return $.map(tbdata, function(ele, index) {
        return {
            t_id: ele[0],
            flightNumber: ele[1],
            u_id: ele[2],
            time: ele[3],
            price: ele[4],
            status: ele[5],
            is_child: ele[6][0],
            user_name: ele[6][1],
            ID_type: ele[6][2],
            ID_number: ele[6][3],
            contact_name: ele[7][0],
            contact_tel: ele[7][1],
            contact_email: ele[7][2],
        }
    });
}

function buildObject(iterFunc) {
    var ret = {};
    for(var i = 0; i < dbschema.length; i++) {
        ret[dbschema[i]] = iterFunc(i);
    }
    return ret;
}

function parseObject(obj) {
    var ret = [];
    for(var key in dbschema) {
        ret.push(obj[dbschema[key]]);
    }   
    return ret;
}

var dbschema = ['t_id', 'flightNumber', 'u_id', 'time', 'price', 'status', 'is_child', 'user_name',
                'ID_type', 'ID_number', 'contact_name', 'contact_tel', 'contact_email'];
var schema = [{id: 't_id', name: '订单编号', type: 'int', primaryKey: true},
                {id: 'flightNumber', name: '航班编号', type: 'string', not_null: true},
                {id: 'u_id', name: '用户标识', type: 'string', not_null: true},
                {id: 'time', name: '交易时间', type: 'datetime', input: inputDatetime},
                {id: 'price', name: '订单金额', type: 'float'},
                {id: 'status', name: '订单状态', type: 'string'},
                {id: 'user_info', name: '用户信息', children: [
                    {id: 'is_child', name: '未成年', type: 'bool', input: inputBool},
                    {id: 'user_name', name: '用户姓名', type: 'string'},
                    {id: 'ID_type', name: '证件类型', type: 'string'}, 
                    {id: 'ID_number', name: '证件号', type: 'string'},
                ]}, 
                {id: 'contact_info', name: '联系人信息', children: [ 
                    {id: 'contact_name', name: '姓名', type: 'string', popover: true},
                    {id: 'contact_tel', name: '电话', type: 'string', popover: true},
                    {id: 'contact_email', name: '邮箱', type: 'string', popover: true},
                ]}];
var asyncURL = '/manage/flight/transaction/async';
var rt = new ResultTable('resultTable', schema, []);
//var at = new ResultTable('addTable', schema, [[[1],[3,2],[2,3],[4],[5],[6],[7],[8,9,10]]]);
</script>

<script> //event handlers
/*console.log('abcd');
$.ajax({
    url: 'http://10.202.18.203:65535/OnlinePayment/api/User/Login',
    type: 'POST',
    dataType: 'json',
    async: false,
    data: {
        "username": 'aaa',
        "password": 'bbb',
        "group": 1,
    }}).done(function(msg) {
        console.log(msg);
    });
       
  */  
$('#bsSearch').click(function(e) {
    $.getJSON(
        asyncURL,
        {
            //flightNumber: $('#bs_flightNumb').val(),
            u_id: $('#bs_u_id').val(),
            beginDate: $('#bs_beginDate').val(),
            endDate: $('#bs_endDate').val(),
            type: 'search',
        },
        function(data) {
            console.log(data);
            if(data.status == 'succeeded') {
                rt.setData(mapDbToTable(data.flightTransaction));
                $('#resultVerbose').text('共' + (rt.getRowCnt() - 1) + '条结果');
            }
        });
});

$('#atAdd').click(function(e) {
    var row = $('#addTable tr:first');
    var queryObj = buildObject(function(index) { 
        var input = $('#at_' + dbschema[index]);
        return (input.length ? input.val() : undefined); 
    });
    queryObj.type = 'add';
    $.getJSON(
        asyncURL,
        queryObj,
        function(data) {
            //console.log(data);
            if(data.status == 'succeeded') {
                $('#addTable input').val('');
                queryObj.t_id = data.t_id;
                rt.pushRow(mapDbToTable([queryObj])[0]);
                $('#resultVerbose').text('共' + (rt.getRowCnt() - 1) + '条结果');
            }
            else
                alert('Add failed');
        });
});
$('#atRemove').click(function(e) {
    $('#addTable input').val('');
});
</script>

