<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>订单历史查询</title>
    <meta content="text/html" charset=utf-8>   
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/style_nomal.css" rel="stylesheet" type="text/css" />
	<link href="/css/tran_history.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/datetimepicker.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.js" charset="UTF-8" ></script>
  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Online Payment</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li><a href="#">账户设置</a></li>
              <li><a href="../buyer/order_manage.html">我是买家</a></li>
              <li><a href="../seller/order_manage.html">我是卖家</a></li>
			  <li><a href="#">淘宝贝</a></li>
			  <li class="active"><a href="/">在线预订</a></li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
%include template/head_bar.inc
      <div class="container-fluid">
       <div class="row-fluid">
        <div class="span2">
                  <div class="well sidebar-nav">
                      <ul class="nav nav-list">
                          <li class="nav-header">酒店</li>
                          <li><a href="/hotel/search">酒店预定</a></li>
                          <li><a href="/hotel/search">旅馆预定</a></li>
                          <li class="nav-header">航班</li>
                          <li><a href="/flight/search">国际航班</a></li>
                          <li ><a href="/flight/search">国内航班</a></li>
                          <li class="nav-header">订单管理</li>
                          <li class="active"><a href="/trade/booking_history">订单历史</a></li>
                          <li ><a href="/trade/comment_history">评价历史</a></li>
                      </ul>
                  </div><!--/.well -->
              </div><!--/span-->
<div class="span10">
	<div class="main">
    <div class="well sidebar-nav">
      <ul class="breadcrumb">
            <li><a href="/hotel/search">预定系统</a><span class="divider">/</span></li>
            <li><a href="#">我的订单</a><span class="divider">/</span></li>
            <li class="active">订单查询</a></li>
        </ul>
	  <div id="order_list">
            <div class="row-fluid">
            <div class="span1">
                <label class="control-label" for="time">成交时间</label>
            </div>
            <div class="span3">
                <div class="control-group">
                    <div data-link-field="start_date" class="controls input-append date form_datetime1">
                        <input type="text" style="width: 80%;" value="" readonly>
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                    <input type="hidden" value="" id="start_date"><br>
                        </div>
            </div>
            <div class="span1">&nbsp&nbsp;至</div>
            <div class="span3">
                <div class="control-group">
                    <div data-link-field="end_date" class="controls input-append date form_datetime1">
                        <input type="text" style="width: 80%;" value="" readonly>
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                    <input type="hidden" value="" id="end_date"><br>
                </div>
            </div>
            <div class="btn-group span2">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="transaction_type" value="">
                    交易类型
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" value="">
                    <li class="booking-option" value="0"><a>全部</a></li>
                    <li class="booking-option" value="1"><a>机票预定</a></li>
                    <li class="booking-option" value="2"><a>酒店预定</a></li>
                </ul>
                <input type="hidden" id="type" value="all">
            </div>
            </div>
            <div class="row-fluid">
                 <div class="span6"></div>
                 <div class="btn btn-middle btn-primary" onclick="fetch_history()">搜 索  »</div>
            </div>
      </div>
    </div><!--/.well sidebar-nav-->
    <div class="well sidebar-nav" id="display_history_panel">
        <table id='trans_list' style="background-color:#ffffff;" class="table table-hover">
        </table>
		<div class="pageNac"></div>
      	</div><!--/.well sidebar-nav-->
    </div><!--/.main-->
</div><!--/.span10-->
   		</div><!--/.row-fluid-->
    </div><!--/.container-fluid-->
   <footer class="tail">
		<hr>
        <a href="">关于我们</a>
        <a href="">合作伙伴</a>
        <a href="">联系客服</a>
        <a href="../other/connect_us.html">联系我们</a>
        <a href="../other/map.html">网站地图</a>
        <span>© 2013 Black.com 版权所有</span>
   </footer>
      
<form id="orderquery" method="get" action="/trade/comment"></form>
<!--jscode.-->
<script>
    $("#display_history_panel").hide()
    $(".dropdown-toggle").click(function(){
        $("#display_history_panel").hide();
    })
    $(".form_datetime1").datetimepicker({
        format: "yyyy/mm/dd",
        todayBtn: 1,
        autoclose: 1,
        minView: 2,
        pickerPosition: "bottom-left",
    });
    $(".form_datetime2").datetimepicker({
        format: "yyyy/mm/dd",
        todayBtn: 1,
        autoclose: 1,
        minView: 2,
        pickerPosition: "bottom-left",
    });
    $("#start_date").val(function(){
                        var dd = new Date();
                        var y = 1900+dd.getYear();
                        var m = dd.getMonth();//获取当前月份-1的日期
                        if (m<10) m = "0"+m;
                        var d = dd.getDate();
                        if (d<10) d = "0"+d;
                        var h = dd.getHours();
                        if (h<10) h = "0"+h;
                        var mm = dd.getMinutes();
                        if (mm<10) mm = "0"+mm;
                        var s = dd.getSeconds();
                        if (s<10) s = "0"+s;
                        return y+"-"+m+"-"+d+" "+h+":"+mm+":"+s;
                         })
    $("#end_date").val(function(){
                        var dd = new Date();
                        var y = 1900+dd.getYear();
                        var m = dd.getMonth()+1;//获取当前月份的日期
                        if (m<10) m = "0"+m;
                        var d = dd.getDate();
                        if (d<10) d = "0"+d;
                        var h = dd.getHours();
                        if (h<10) h = "0"+h;
                        var mm = dd.getMinutes();
                        if (mm<10) mm = "0"+mm;
                        var s = dd.getSeconds();
                        if (s<10) s = "0"+s;
                        return y+"-"+m+"-"+d+" "+h+":"+mm+":"+s;
                       })
    $(".booking-option").click(function(){
        $(".choosed").removeClass("choosed")
        $(this).addClass("choosed")
        switch($(".choosed").val()){
                               case 0:$("#type").val('all');$("#transaction_type").html('全部&nbsp&nbsp;<span class="caret"></span>');break;
                               case 1:$("#type").val('flight');$("#transaction_type").html('机票预定&nbsp&nbsp;<span class="caret"></span>');break;
                               case 2:$("#type").val('hotel');$("#transaction_type").html('酒店预定&nbsp&nbsp;<span class="caret"></span>');break;
        }
    })         
    function fetch_history(){
        $("#display_history_panel").show()
        console.log(type);
        $("#trans_list").html('查询中，请稍候...')
        $.getJSON(
            "/trade/booking_history/async",
            {
                start_date: $("#start_date").val(),
                end_date:   $("#end_date").val(),
                type:       $("#type").val(),
            },
            function(data){
                console.log(data);
                $("#trans_list").html('')
                strdata="<td class=info_td></td><td class=info_td><strong>商品</strong></td>"+"<td class=info_td><strong>成交时间</strong></td>"+"<td class=info_td><strong>价格</strong></td>"+"<td class=info_td><strong>交易状态</strong></td>"+"<td class=info_td><strong>评价</strong></td>"
                $("#trans_list").append($("<tr>",{html:strdata}))
                for(var i in data.flights){
                  fill_list (data.flights[i])
                }
                if(data.length== 0){
                  $('#booing_item').html('未查询到满足条件的记录')
                }
            }
        );
    }
              
    function fill_list(history){
        strdata = "<tr><td id='_tid'>"+history[0]+"</td>" // 交易编号 history[0]=t_id
        strdata = strdata+"<td>"+history[1]+"</td>" // 商品描述
        strdata = strdata+"<td>"+history[2]+"</td>" // 成交时间
        strdata = strdata+"<td>"+history[3]+"</td>" // 价格
        strdata = strdata+"<td>"+history[4]+"</td>" // 状态
        strdata = strdata+"<td><button class=\"btn\" value=\"comment\" onclick=\"submit_comment($(this).parent().parent().children('#_tid').html())\">评价</button></td></tr>" 
        $("#trans_list").append($("<tbody>",{html:strdata}))
    }
    
    $("#orderquery").hide()
    function submit_comment(transaction_id){
        $("#orderquery").html('')
        strdata = "<input type='text' name='tid' value='"+transaction_id+"'>"
        strdata = strdata + "<input type='text' name='type' value='flight'>"
        $("#orderquery").append(strdata)
        $("#orderquery").submit()
    }
    
</script>
  </body>
  
</html>
