<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>订单历史查询</title>
    <meta content="text/html" charset=utf-8>   
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/style_nomal.css" rel="stylesheet" type="text/css" />
	<link href="/css/tran_history.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/datetimepicker.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.js" charset="UTF-8" ></script>
  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Online Payment</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li><a href="#">账户设置</a></li>
              <li><a href="../buyer/order_manage.html">我是买家</a></li>
              <li><a href="../seller/order_manage.html">我是卖家</a></li>
			  <li><a href="#">淘宝贝</a></li>
			  <li class="active"><a href="/">在线预订</a></li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
%include template/head_bar.inc
      <div class="container-fluid">
       <div class="row-fluid">
        <div class="span2">
                  <div class="well sidebar-nav">
                      <ul class="nav nav-list">
                          <li class="nav-header">酒店</li>
                          <li><a href="/hotel/search">酒店预定</a></li>
                          <li><a href="/hotel/search">旅馆预定</a></li>
                          <li class="nav-header">航班</li>
                          <li><a href="/flight/search">国际航班</a></li>
                          <li ><a href="/flight/search">国内航班</a></li>
                          <li class="nav-header">订单管理</li>
                          <li class="active"><a href="/trade/booking_history">订单历史</a></li>
                          <li ><a href="/trade/comment_history">评价历史</a></li>
                      </ul>
                  </div><!--/.well -->
              </div><!--/span-->
<div class="span10">
	<div class="main">
    <div class="well sidebar-nav">
      <ul class="breadcrumb">
            <li><a href="/hotel/search">预定系统</a><span class="divider">/</span></li>
            <li><a href="#">我的订单</a><span class="divider">/</span></li>
            <li class="active">订单查询</a></li>
        </ul>
	  <div id="order_list">
            <div class="row-fluid">
            <div class="span1">
                <label class="control-label" for="time">成交时间</label>
            </div>
            <div class="span3">
                <div class="control-group">
                    <div data-link-field="begin_date" class="controls input-append date form_datetime1">
                        <input type="text" style="width: 80%;" id="begin_date_view" value="" readonly>
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                    <input type="hidden" value="" id="begin_date"><br>
                        </div>
            </div>
            <div class="span1">&nbsp&nbsp;至</div>
            <div class="span3">
                <div class="control-group">
                    <div data-link-field="end_date" class="controls input-append date form_datetime2">
                        <input type="text" style="width: 80%;" id="end_date_view" value="" readonly>
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                    <input type="hidden" value="" id="end_date"><br>
                </div>
            </div>
            <div class="btn-group span2">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="transaction_type" value="">
                    交易类型
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" value="">
                    <li class="booking-option" value="0" name="all"><a>全部</a></li>
                    <li class="booking-option" value="1" name="flight"><a>机票预定</a></li>
                    <li class="booking-option" value="2" name="hotel"><a>酒店预定</a></li>
                </ul>
                <input type="hidden" id="type" value="flight">
            </div>
            </div>
            <div class="row-fluid">
                 <div class="span6"></div>
                 <div class="btn btn-middle btn-primary" onclick="fetch_history()">搜 索  »</div>
            </div>
      </div>
    </div><!--/.well sidebar-nav-->
    <div class="well sidebar-nav" id="display_history_panel" style="color:#333333;">
        <table id='trans_list' style="background-color:#ffffff;" class="table table-hover">
        </table>
		<div class="pageNac"></div>
      	</div><!--/.well sidebar-nav-->
    </div><!--/.main-->
</div><!--/.span10-->
   		</div><!--/.row-fluid-->
    </div><!--/.container-fluid-->
   <footer class="tail">
		<hr>
        <a href="">关于我们</a>
        <a href="">合作伙伴</a>
        <a href="">联系客服</a>
        <a href="../other/connect_us.html">联系我们</a>
        <a href="../other/map.html">网站地图</a>
        <span>© 2013 Black.com 版权所有</span>
   </footer>

<form id="commentForm" method="get" action="/trade/comment">
    <input type="hidden" name="t_id" id="comment_t_id">
    <input type="hidden" name="type" id="comment_type">
</form>
<form id="payForm" method="get" action="/pay">
    <input type="hidden" name="t_id" id="pay_t_id">
    <input type="hidden" name="type" id="pay_type">
</form>
<!--jscode.-->
<script>
    function formatDate(dd) {
        var y = 1900+dd.getYear();
        var m = dd.getMonth()+1;//获取当前月份的日期
        if (m<10) m = "0"+m;
        var d = dd.getDate();
        if (d<10) d = "0"+d;
        /*var h = dd.getHours();
        if (h<10) h = "0"+h;
        var mm = dd.getMinutes();
        if (mm<10) mm = "0"+mm;
        var s = dd.getSeconds();
        if (s<10) s = "0"+s;*/
        return y+"-"+m+"-"+d;//+" "+h+":"+mm+":"+s;
    }
    function getURLParams() {
        var param = {}, res;
        var regex =  new RegExp('[/?&#]([^&#]*?)=([^&#]*)', 'g');
        var url = decodeURIComponent(window.location.search);
        while((res = regex.exec(url)) != null) {
            param[res[1]] = res[2];
        }
        return param;
    }
    function fetch_history(){
        $("#display_history_panel").show()
        $("#trans_list").html('查询中，请稍候...')
        console.log($("#begin_date").val(), $("#end_date").val(), $("#type").val());
        $.getJSON(
            "/trade/booking_history/async",
            {
                begin_date: $("#begin_date").val(),
                end_date:   $("#end_date").val(),
                type:       $("#type").val(),
            },
            function(data){
                console.log(data);
                if(data.length== 0){
                    $('#trans_list').html('未查询到满足条件的记录')
                } else {
                    $("#trans_list").html('')
                    strdata="<td class=info_td></td><td class=info_td><strong>商品</strong></td>"+"<td class=info_td><strong>成交时间</strong></td>"+"<td class=info_td><strong>价格</strong></td>"+"<td class=info_td><strong>交易状态</strong></td>"+"<td class=info_td><strong>评价</strong></td>"
                    $("#trans_list").append($("<tr>",{html:strdata}))
                    for(var i in data.flights){
                        fill_list (data.flights[i], 'flight')
                    }
                    for(var i in data.hotels) {
                        fill_list(data.hotels[i], 'hotel');
                    }
                }
                
            }
        );
    }
    
    function formatStatus(status) {
        if(status == 'paid')
            return '已支付';
        else
            return '未支付';
    }
    
    function setSearchDate(begin, datestr) {
        if(begin) {
            $('#begin_date_view').val(datestr);
            $('#begin_date').val(datestr);
        } else {
            $('#end_date_view').val(datestr);
            $('#end_date').val(datestr);
        }
    }
    
    var cmtbtnstr = '<button class="btn", value="comment">评价</button>';
    var paybtnstr = '<button class="btn", value="pay">支付</button>';
    var iconhotel = '<i class="icon-home"></i>';
    var iconflight = '<i class="icon-plane"></i>';
    function fill_list(history, type){
        var btn = '', line;
        strdata = '<tr><td>' + (type == 'hotel' ? iconhotel : iconflight) + '</td>';
        // i think t_id should not be presented to user
        //strdata = "<tr><td id='_t_id'>"+history[0]+"</td>" // 交易编号 history[0]=t_id
        strdata = strdata+"<td>"+history[1]+"</td>" // 商品描述
        strdata = strdata+"<td>"+history[2]+"</td>" // 成交时间
        strdata = strdata+"<td>"+history[3]+"</td>" // 价格
        strdata = strdata+"<td>"+formatStatus(history[4])+"</td>" // 状态
        switch(history[4]) {
        case 'not_paid': btn = paybtnstr; break;
        case 'not_commented': btn = cmtbtnstr; break;
        case 'commented': btn = ''; break;
        default: btn = paybtnstr;
        }
        strdata += '<td>' + btn + '</td></tr>';
        line = $(strdata);
        line.data('info', {t_id: history[0], type: type});
        $('#trans_list').find('tbody').append(line);
    }
    
    function submitPay(info) {
        $('#pay_t_id').val(info.t_id);
        $('#pay_type').val(info.type);
        $('#payForm').submit();
    }
    function submitComment(info){
        $('#comment_t_id').val(info.t_id);
        $('#comment_type').val(info.type);
        $("#commentForm").submit()
    }
    
    $(".dropdown-toggle").click(function(){
        $("#display_history_panel").hide();
    })
    $(".form_datetime1").datetimepicker({
        format: "yyyy/mm/dd",
        todayBtn: 1,
        autoclose: 1,
        minView: 2,
        pickerPosition: "bottom-left",
    });
    $(".form_datetime2").datetimepicker({
        format: "yyyy/mm/dd",
        todayBtn: 1,
        autoclose: 1,
        minView: 2,
        pickerPosition: "bottom-left",
    });
    $(".booking-option").click(function(){
        $(".choosed").removeClass("choosed")
        $(this).addClass("choosed")
        switch($(".choosed").val()){
            case 0:$("#type").val('all');$("#transaction_type").html('全部&nbsp&nbsp;<span class="caret"></span>');break;
            case 1:$("#type").val('flight');$("#transaction_type").html('机票预定&nbsp&nbsp;<span class="caret"></span>');break;
            case 2:$("#type").val('hotel');$("#transaction_type").html('酒店预定&nbsp&nbsp;<span class="caret"></span>');break;
        }
        console.log('clicked' + $('.choosed').val());
    })
    $('#trans_list').click(function(e) {
        var ele = $(e.target);
        if(ele.prop('tagName') == 'BUTTON') {
            console.log(ele.val());
            if(ele.val() == 'pay') {
                submitPay(ele.closest('tr').data('info'));
            } else if(ele.val() == 'comment') {
                submitComment(ele.closest('tr').data('info'));
            } else {
                alert('From where do you click this button?');
            }
        }
    });
    
    function dateFromNow(dd) {
        var date = new Date();
        date.setTime(date.getTime() + dd * 24 * 3600 * 1000);
        return date;
    }
    function fillSearchParams() {
        var urlparams = getURLParams(), sparams;
        console.log(urlparams);
        if(!urlparams.type)
            sparams = { type: 'all', };
        else
            sparams = {
                type: urlparams.type,
                begin_date: urlparams.begin_date,
                end_date: urlparams.end_date,
            };
        
        console.log(sparams);
        if(sparams.begin_date)
            setSearchDate(1, sparams.begin_date);
        else 
            setSearchDate(1, formatDate(dateFromNow(-30)));
        
        if(sparams.end_date)
            setSearchDate(0, sparams.end_date);
        else
            setSearchDate(0, formatDate(dateFromNow(1)));
        
        console.log(sparams.type);
        $('.booking-option[name=' + sparams.type + ']').trigger('click'); // this is ugly...
    }
    fillSearchParams();
    fetch_history();
    
</script>
  </body>
  
</html>
