<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>评论历史查询</title>
    <meta content="text/html" charset=utf-8>   
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/style_nomal.css" rel="stylesheet" type="text/css" />
    <link href="/css/tran_history.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/datetimepicker.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.js" charset="UTF-8" ></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </head>
  <body>
  
%include template/head_bar.inc
      <div class="hero-unit"></div>
      <div class="container-fluid">
          <div class="row-fluid">
              <div class="span2">
                  <div class="well sidebar-nav">
                      <ul class="nav nav-list">
                          <li class="nav-header">酒店</li>
                          <li><a href="/hotel/search">酒店预定</a></li>
                          <li><a href="/hotel/search">旅馆预定</a></li>
                          <li class="nav-header">航班</li>
                          <li><a href="/flight/search">国际航班</a></li>
                          <li><a href="/flight/search">国内航班</a></li>
                          <li class="nav-header">订单管理</li>
                          <li ><a href="/trade/booking_history">订单历史</a></li>
                          <li class="active"><a href="/trade/comment_history">评价历史</a></li>
                      </ul>
                  </div><!--/.well -->
              </div><!--/span-->
        <div class="span10">
	<div class="main">
        <div class="well sidebar-nav">
            <ul class="breadcrumb">
                <li><a href="/hotel/search">预定系统</a><span class="divider">/</span></li>
                <li><a href="#">我的订单</a><span class="divider">/</span></li>
                <li class="active">订单查询</a></li>
            </ul>
	  <!--div class="rimidebox">
		<a href="order_manage.html">我的订单</a><span>>></span><a href="tran_history.html">评价记录</a>
      </div-->
      
	  <div class="order_list">
		<form class="orderquery">
            <div class="row-fluid">
                <div class="span1">
                    <label class="control-label" for="time">评价时间</label>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <div data-link-field="begin_date" class="controls input-append date form_datetime1">
                            <input type="text" style="width: 80%;" value="" readonly>
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                        <input type="hidden" value="1" id="begin_date"><br>
                            </div>
                </div>
                <div id="return">
                    <div class="span1">&nbsp&nbsp;至</div>
                    <div class="span3">
                        <div class="control-group">
                            <div data-link-field="end_date" class="controls input-append date form_datetime1">
                                <input type="text" style="width: 80%;" value="" readonly>
                                    <span class="add-on"><i class="icon-remove"></i></span>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                    </div>
                            <input type="hidden" value="1" id="end_date"><br>
                                </div>
                    </div></div>
                <div class="btn-group span2">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="transaction_type" value="">
                        交易类型
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="booking-option" value="0"><a>全部</a></li>
                        <li class="booking-option" value="1"><a>机票预定</a></li>
                        <li class="booking-option" value="2"><a>酒店预定</a></li>
                    </ul>
                    <input type="hidden" id="type" value="all">
                </div>
            </div>
            <div>
                <div id="Username"></div>
                <div class ="row-fluid">
                    <div class="span6"></div>
                    <a class="btn btn-middle btn-primary" onclick="fetch_history()">搜索</a>
                </div>
            </div>

            	<!--label class="control-label" for="time">评价时间</label>
                <input type="text" placeholder="Begin date" id="begin_date">
                <input type="text" placeholder="End date" id="end_date">
            
            	<label class="control-label" for="time">交易类型</label>
            	<select id="type">
						<option data-msg="机票预定" value="ALL" id="flight_booking">机票预定</option>
						<option data-msg="酒店预定" value="ALL" id="hotel_booking">酒店预定</option>
                </select>
             <div>
			 <button class="btn" type="button"
                        onclick="fetch_history(
                            $('#begin_date').val(),
                            $('#end_date').val(),
                            $('#type').val(),
                            $('#Username').val(),
                 )">搜索</button>
             </div-->
		</form>
        </div></div>
        <div class="well sidebar-nav" id="display_history_panel">
            <table id='comment_list' style="background-color:#ffffff;" class="table table-hover">
            </table>
		<!--table class="table bought_list " id="order_list">
		<thead>
            <div><tr class="col_name">
				<th class="item" colspan="1.8">商品</th>
                <th class="comment" colspan="2"> 评论内容</th>
				<th class="rate"colspan="1">评分</th>
                </tr>
			</tr></div>
		</thead>
		<tbody>
            <div id="history">
            <tr class="order_item">
                <th class="item" colspan="1.8"><div id ="booking_item">dsf</div></th>
                <th class="comment" colspan="2" rows="2"><div id="booking_price">fsdff</div></th>
                <th class="rate" colspan="1"><div id="booking_date">dsff</div></th>
            </tr>
            </div>
            <div id="history">
                <tr class="order_item">
                    <th class="item" colspan="1.8"><div id ="booking_item">dsf</div></th>
                    <th class="comment" colspan="2"><div id="booking_price">fsdff</div></th>
                    <th class="rate" colspan="1"><div id="booking_date">dsff</div></th>
                </tr>
            </div>
		</tbody>
		</table-->
		<div class="pageNac"></div>
      	</div>
      </div>
     </div>
   		</div>
    </div>
	</div>
   <footer class="tail">
		<hr>
        <a href="">关于我们</a>
        <a href="">合作伙伴</a>
        <a href="">联系客服</a>
        <a href="../other/connect_us.html">联系我们</a>
        <a href="../other/map.html">网站地图</a>
        <span>© 2013 Black.com 版权所有</span>
   </footer>
      
      <script>
          $("#display_history_panel").hide()
          $(".dropdown-toggle").click(function(){
                                      $("#display_history_panel").hide();
                                      })
          $(".form_datetime1").datetimepicker({
                                              format: "yyyy/mm/dd",
                                              todayBtn: 1,
                                              autoclose: 1,
                                              minView: 2,
                                              pickerPosition: "bottom-left",
                                              });
          $(".form_datetime2").datetimepicker({
                                              format: "yyyy/mm/dd",
                                              todayBtn: 1,
                                              autoclose: 1,
                                              minView: 2,
                                              pickerPosition: "bottom-left",
                                              });
          $(".booking-option").click(function(){
                                     $(".choosed").removeClass("choosed")
                                     $(this).addClass("choosed")
                                     switch($(".choosed").val()){
                                     case 0:$("#type").val('all');$("#transaction_type").html('全部&nbsp&nbsp;<span class="caret"></span>');break;
                                     case 1:$("#type").val('flight');$("#transaction_type").html('机票预定&nbsp&nbsp;<span class="caret"></span>');break;
                                     case 2:$("#type").val('hotel');$("#transaction_type").html('酒店预定&nbsp&nbsp;<span class="caret"></span>');break;
                                     }
                                     })
          function fetch_history(){
              $("#display_history_panel").show()
              console.log($('#type').val());
              $("#comment_list").html('查询中，请稍候...')
              $.getJSON(
                        "/trade/booking_history/async",
                        {
                            begin_date: $('#begin_date').val(),
                            end_date: $('#end_date').val(),
                            type:     $('#type').val(),
                        },
                        function(data){
                        console.log(data)
                        $("#comment_list").html('')
                        //$("#booking_item").html('')
                        //$("#booking_price").html('')
                        //$("#booking_date").html('')
                        for(var i in data.booking_history){
                            fill_list (data.booking_history[i],i)
                        }
                        if(data.length== 0){
                            $('#booing_item').html('未查询到满足条件的记录')
                        }
                    }
                );
          }
          
          function fill_list(history,i){
              strdata = "<tr><td id='t_id'>"+i+"</td>" // 商品编号 history[0]=t_id
              strdata = strdata+"<td>"+history[1]+"</td>" // 商品内容
              strdata = strdata+"<td>"+history[2]+"</td>" // 商品评价
              strdata = strdata+"<td>"+history[3]+"</td></tr>" // 评分
              $("#trans_list").append($("<tbody>",{html:strdata}))
          }
          </script>

  </body>
  
</html>
