<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>评论历史查询</title>
    <meta content="text/html" charset=utf-8>   
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/style_nomal.css" rel="stylesheet" type="text/css" />
	<link href="/css/tran_history.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/js/jquery.js"></script>
<!--jscode.-->
 
        <script>
            function fetch_history(b_date,e_date,typ,u_id)
            {
                console.log(type);
                $('#history_list').html('查询中，请稍候...')
                $.getJSON(
                "/trade/booking_history/async",
                    {
                          begin_date: b_date,
                          end_date: e_date,
                          type:     typ,
                          Username: u_id,   
                    },
                          function(data){
                          console.log(data)
                          $('#booking_item').html('')
                          $('#booking_price').html('')
                          $('#booking_date').html('')
                          
                          for(var i in data.booking_history){
                          booking_history = data.booking_history[i]
                          $(#booking_item).append($("<div>",{html:booking_history[0]}))
                          $(#booking_price).append($("<div>",{html:booking_history[1]}))
                          $(#booking_date).append($("<div>",{html:booking_history[2]}))
                          }
                          if(data.info.length== 0)
                          $('#booing_item').html('未查询到满足条件的记录')
                          
                          }
                          
                );
            }
        </script>
        
  </head>
  <body>
  
%include head_bar.inc
      <div class="hero-unit"></div>
      <div class="container-fluid">
          <div class="row-fluid">
              <div class="span2">
                  <div class="well sidebar-nav">
                      <ul class="nav nav-list">
                          <li class="nav-header">酒店</li>
                          <li><a href="/hotel/search">酒店预定</a></li>
                          <li><a href="/hotel/search">旅馆预定</a></li>
                          <li class="nav-header">航班</li>
                          <li><a href="/flight/search">国际航班</a></li>
                          <li><a href="/flight/search">国内航班</a></li>
                          <li class="nav-header">订单管理</li>
                          <li ><a href="/trade/booking_history">订单历史</a></li>
                          <li class="active"><a href="/trade/comment_history">评价历史</a></li>
                      </ul>
                  </div><!--/.well -->
              </div><!--/span-->
        <div class="span10">
	<div class="main">
  	
	  <div class="rimidebox">
		<a href="order_manage.html">我的订单</a><span>>></span><a href="tran_history.html">评价记录</a>
      </div>
      
	  <div class="order_list">
		<form class="orderquery">
            	<label class="control-label" for="time">评价时间</label>
                <input type="text" placeholder="Begin date" id="begin_date">
                <input type="text" placeholder="End date" id="end_date">
            
            	<label class="control-label" for="time">交易类型</label>
            	<select id="type">
						<option data-msg="机票预定" value="ALL" id="flight_booking">机票预定</option>
						<option data-msg="酒店预定" value="ALL" id="hotel_booking">酒店预定</option>
                </select>
             <div>
			 <button class="btn" type="button"
                        onclick="fetch_history(
                            $('#begin_date').val(),
                            $('#end_date').val(),
                            $('#type').val(),
                            $('#Username').val(),
                 )">搜索</button>
             </div>
		</form>
        <div class="well">
		<table class="table bought_list " id="order_list">
		<thead>
            <div><tr class="col_name">
				<th class="item" colspan="1.8">商品</th>
                <th class="comment" colspan="2"> 评论内容</th>
				<th class="rate"colspan="1">评分</th>
                </tr>
			</tr></div>
		</thead>
		<tbody>
            <div id="history">
            <tr class="order_item">
                <th class="item" colspan="1.8"><div id ="booking_item">dsf</div></th>
                <th class="comment" colspan="2" rows="2"><div id="booking_price">fsdff</div></th>
                <th class="rate" colspan="1"><div id="booking_date">dsff</div></th>
            </tr>
            </div>
            <div id="history">
                <tr class="order_item">
                    <th class="item" colspan="1.8"><div id ="booking_item">dsf</div></th>
                    <th class="comment" colspan="2"><div id="booking_price">fsdff</div></th>
                    <th class="rate" colspan="1"><div id="booking_date">dsff</div></th>
                </tr>
            </div>
		</tbody>
		</table>
		<div class="pageNac"></div>
      	</div>
      </div>
     </div>
   		</div>
    </div>
	</div>
   <footer class="tail">
		<hr>
        <a href="">关于我们</a>
        <a href="">合作伙伴</a>
        <a href="">联系客服</a>
        <a href="../other/connect_us.html">联系我们</a>
        <a href="../other/map.html">网站地图</a>
        <span>© 2013 Black.com 版权所有</span>
   </footer>
  
  </body>
  
</html>
