<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>评价系统</title>
    <meta content="text/html" charset=utf-8>   
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/style_nomal.css" rel="stylesheet" type="text/css" />
	<link href="/css/tran_history.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/js/jquery.js"></script>
    <script>
        function submit_comment(score,com){
            orderquery.submit()
        
        }</script>
        

  </head>
  <body>
   
  
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">

          <a class="brand" href="#">Online Payment</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li><a href="#">账户设置</a></li>
              <li><a href="../buyer/order_manage.html">我是买家</a></li>
              <li><a href="../seller/order_manage.html">我是卖家</a></li>
			  <li class="active"><a href="#contact">淘宝贝</a></li>
			  <li><a href="#contact">在线预订</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
      <div class="hero-unit"></div>
      <div class="container-fluid">
          <div class="row-fluid">
              <div class="span2">
                  <div class="well sidebar-nav">
                      <ul class="nav nav-list">
                          <li class="nav-header">酒店</li>
                          <li><a href="/hotel/search">酒店预定</a></li>
                          <li><a href="/hotel/search">旅馆预定</a></li>
                          <li class="nav-header">航班</li>
                          <li><a href="/flight/search">国际航班</a></li>
                          <li ><a href="/flight/search">国内航班</a></li>
                          <li class="nav-header">订单管理</li>
                          <li ><a href="/trade/booking_history">订单历史</a></li>
                          <li class="active"><a href="/trade/remark_history">评价历史</a></li>
                      </ul>
                  </div><!--/.well -->
              </div><!--/span-->
        <div class="span10">
	<div class="main">
  	
	  <div class="rimidebox">
		<a href="order_manage.html">订单管理</a><span>>></span><a href="tran_history.html">打分与评价</a>
      </div>
      
	  <div class="order_list">
          <form class="orderquery">
          <div class="comment">
                <div> 评分</div>
                <div class="row"><div class="span12"></div></div>
                <select id="scoring" class="span3">
                    <option> 非常满意 </option>
                    <option> 满意 </option>
                    <option> 一般 </option>
                    <option> 不满意 </option>
                    <option> 非常不满意 </option>
                </select>
                <div class="row">
                    <div class="span12"></div>
                </div>
                <div> 评价</div>
                <div class="row"><div class="span12"></div></div>
              <textarea rows="5" id="comment" class=span8 placeholder="亲，请分享您的使用感受"></textarea>
                <div class="row">
                    <div class=span2></div>
                <div class="span8"><input type="submit" class="btn" value="提交"
                    onclick="submit_comment(
                        $('#scoring').val(),
                        $('#comment').val(),
                    )"></input>
                     </div>
          </div></div></div>
         </form>
     </div>
   		</div>
    </div>
	</div>
   <footer class="tail">
		<hr>
        <a href="">关于我们</a>
        <a href="">合作伙伴</a>
        <a href="">联系客服</a>
        <a href="../other/connect_us.html">联系我们</a>
        <a href="../other/map.html">网站地图</a>
        <span>© 2013 Black.com 版权所有</span>
   </footer>
  
  </body>
  
</html>