<!DOCTYPE html>
<html>
  <head>
    <title>国内机票搜索</title>   
    <meta charset=utf-8>        
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/style_nomal.css" rel="stylesheet" type="text/css" />
    <link href="/css/3.css" rel="stylesheet" type="text/css">
    <link href="/css/datetimepicker.css" rel="stylesheet" type="text/css" />
<!--what a mess code.-->
    <script src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.js" charset="UTF-8" ></script>
  </head>
  <body>
%include template/head_bar.inc
   <div class="container-fluid">
	<div class="row-fluid">
		  <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">酒店</li>
              <li><a href="/hotel/search">酒店预定</a></li>			
              <li class="nav-header">航班</li>
              <li class="active"><a href="/flight/search" onclick="hide_inter()">航班预订</a></li>
              <li class="nav-header">订单管理</li>
              <li ><a href="/trade/booking_history">订单历史</a></li>
              <li ><a href="/trade/comment_history">评价历史</a></li>

            </ul>
          </div><!--/.well -->
        </div><!--/span-->
<div class="span10">
    <div class="main">
        <div class="well sidebar-nav">
        <ul class="breadcrumb">
            <li><a href="/hotel/search">预定系统</a><span class="divider">/</span></li>
            <li><a href="#">机票预定</a><span class="divider">/</span></li>
            <li class="active">航班搜索</a></li>
        </ul>
	  <div class="order_list">
		<div class="flightbook">
				<div class="row-fluid">
                    <div class="span1 offset1"><label class="radio"><input id="optionsRadios1" type="radio" checked="" value="option1" name="optionsRadios" onclick="hide_return()">单程</label></div>
                    <div class="span1"></div>
                    <div class="span1"><label class="radio"><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" onclick="show_return()">往返</label></div>
                </div>
                <div class="row-fluid">
                    <div class="span1"> 城市</div>
                    <div class="span3">
                        <input type="text" placeholder="杭州" value="杭州" title="请输入出发城市" size="20" style="width: 100%;" id="departure_city" value maxlength="30">
                    </div>
                    <div class="span1">&nbsp&nbsp&nbsp&nbsp;到</div>
                    <div class="span3">
                        <input type="text" placeholder="北京" value="北京" title="请输入到达城市" size="20" style="width: 100%;" id="arrival_city" value maxlength="30">
                    </div>
                </div>

            <div class="row-fluid">
                <div class="span1">出发日期</div>
                <div class="span3">
                    <div class="control-group">
                        <div data-link-field="departure_date" class="controls input-append date form_datetime1">
                            <input type="text" style="width: 80%;" value="" readonly>
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                                <input type="hidden" value="1" id="departure_date"><br>
                            </div>
                </div>
                <div id="return">
                <div class="span1">&nbsp&nbsp;返回日期</div>
                <div class="span3">
                    <div class="control-group">
                        <div data-link-field="return_date" class="controls input-append date form_datetime2">
                            <input type="text" style="width: 80%;" value="" readonly>
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                        <input type="hidden" value="1" id="return_date"><br>
                            </div>
                </div></div>
            <div class ="span3">
                 <a class="btn btn-primary btn-middle"
                        onclick="fetch_flight()">搜  索 »</a>
            </div><!--search button-->
                </div>
		</div>
	   </div>

        </div><!--order-list-->
            
        </div>
      <div class="well sidebar-nav" id="display_flight_panel" style="color:#333333;">          
          <div id='display_condition' class="row-fluid" >
              <div class="span8">
                  <div class="span1"></div>
                  <div class="span2">
                      <div class="btn-group">
                          <a class="btn btn-info btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                              默认排序
                              <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" style="font-size:12px;">
                              <li value="0" class="choosed"> <a href="#">默认排序</a></li>
                              <li class="divider"></li>
                              <li value="1" class=""><a href="#">价格：升序&nbsp;<i class="icon-arrow-up"></i></a></li>
                              <li class="divider"></li>
                              <li value="2" class=""><a href="#">起飞：升序&nbsp;<i class="icon-arrow-up"></i></a></li>
                              <li value="3"class=""><a href="#">起飞：降序&nbsp;<i class="icon-arrow-down"></i></a></li>
                              <li class="divider"></li>
                              <li value="4"class=""><a href="#">抵达：升序&nbsp;<i class="icon-arrow-up"></i></a></li>
                              <li value="5"class=""><a href="#">抵达：降序&nbsp;<i class="icon-arrow-down"></i></a></li>
                              <li class="divider"></li>
                              <li value="6"class=""><a href="#">总时：升序&nbsp;<i class="icon-arrow-up"></i></a></li>
                              <li value="7"class=""><a href="#">总时：降序&nbsp;<i class="icon-arrow-down"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  
                  <!--div class="span2">
                      <div class="btn-group dropup">
                          <button class="btn btn-info btn-small asc" title="点击按星级从高到低排序" count="0">起飞时间<i class="icon-chevron-up icon-white"></i><i class="icon-chevron-down icon-white"></i></button>
                          </button>
                      </div>
                  </div>
                  <div class="span2">
                      <div class="btn-group dropup">
                          <button class="btn btn-info btn-small desc" title="点击按评分从高到低排序" count="0">抵达时间<i class="icon-chevron-up icon-white"></i><i class="icon-chevron-down icon-white"></i></button>
                          </button>
                      </div>
                  </div>
                  
                  <div class="span2">
                      <div class="btn-group dropup">
                          <button class="btn btn-info btn-small asc" title="点击按价格从低到高排序" count="0">总时间<i class="icon-chevron-up icon-white"></i><i class="icon-chevron-down icon-white"></i></button>
                          </button>
                      </div>
                  </div>                  
                  <div class="span2">
                      <div class="btn-group dropup">
                          <button id="list_condition_price" class="btn btn-info btn-small asc" title="点击按价格从低到高排序" count="0">价格<i class="icon-chevron-up icon-white"></i><i class="icon-chevron-down icon-white"></i></button>
                          </button>
                      </div>
                  </div-->
              </div>
          </div><!--/#display_condition-->
        <form id="bookquery" method="get" action="/order"></form>
        <table id='flight_list' style="background-color:#ffffff;" class="table table-hover">
        </table>
	  </div>
    </div><!--main-->
		</div>
	</div><!--.row-fluid-->
  </div><!--.container-fluid-->
  <footer class="tail">
		<hr>
        <a href="">关于我们</a>
        <a href="">合作伙伴</a>
        <a href="">联系客服</a>
        <a href="../other/connect_us.html">联系我们</a>
        <a href="../other/map.html">网站地图</a>
        <span>© 2013 Black.com 版权所有</span>
   </footer>
      
<script>
    $("#display_flight_panel").hide()
    $("#return").hide()
    $(".radio").click(function(){
        $("#display_flight_panel").hide()
    })
    $(".form_datetime1").datetimepicker({
                                        format: "yyyy/mm/dd",
                                        todayBtn: 1,
                                        autoclose: 1,
                                        minView: 2,
                                        pickerPosition: "bottom-left"
                                        });
    $(".form_datetime2").datetimepicker({
                                        format: "yyyy/mm/dd",
                                        todayBtn: 1,
                                        autoclose: 1,
                                        minView: 2,
                                        pickerPosition: "bottom-left"
                                        });
    $("#departure_date").val(function(){
                     var dd = new Date();
                     var y = 1900+dd.getYear();
                     var m = dd.getMonth()+1;//获取当前月份的日期
                     if (m<10) m = "0"+m;
                     var d = dd.getDate();
                     if (d<10) d = "0"+d;
                     var h = dd.getHours();
                     if (h<10) h = "0"+h;
                     var mm = dd.getMinutes();
                     if (mm<10) mm = "0"+mm;
                     var s = dd.getSeconds();
                     if (s<10) s = "0"+s;
                     return y+"-"+m+"-"+d+" "+h+":"+mm+":"+s;
                     })
    $("#return_date").val('');
    function show_return(){
        $("#return").show()
    }
    function hide_return(){
        $("#return").hide()
    }
    function show_inter(){
        $(".nav-list li:eq(5)").addClass('active')
        $(".nav-list li:eq(4)").removeClass('active')
        $(".breadcrumb li:eq(2)").html('国际航班搜索')
        $("title").html('国际航班搜索')
        $("#optionsRadios2")[0].checked=true 
        $("#return").show()
    }
    function hide_inter(){
        $(".nav-list li:eq(5)").removeClass('active')
        $(".nav-list li:eq(4)").addClass('active')
        $(".breadcrumb li:eq(2)").html('航班搜索')
        $("title").html('航班搜索')
        $("#optionsRadios1")[0].checked=true
        $("#return").hide()
    }
/*
    $("button").click(function(){
                      if($(this).attr("count") == "0"){
                      $(this).addClass("asc");
                      $(this).attr("count","1");
                      }else if($(this).attr("count") == "1"){
                      $(this).removeClass("asc");
                      $(this).addClass("desc");
                      $(this).attr("count","2");
                      }else if($(this).attr("count") == "2"){
                      $(this).removeClass("desc");
                      $(this).attr("count","0");
                      }
                      if($(this).hasClass('asc')){
                      $(this).find(".icon-chevron-down").removeClass('icon-white');
                      $(this).find(".icon-chevron-up").addClass('icon-white');
                      }else if($(this).hasClass('desc')){
                      $(this).find(".icon-chevron-up").removeClass('icon-white');
                      $(this).find(".icon-chevron-down").addClass('icon-white');
                      }else{
                      $(this).find(".icon-chevron-up").addClass('icon-white');
                      $(this).find(".icon-chevron-down").addClass('icon-white');
                      }
                      });
*/    
    $(".dropdown-menu li").click(function(){
        $(".choosed").removeClass("choosed")
        $(this).addClass("choosed")
        $(".dropdown-toggle").html($(".choosed a").html())
        fetch_flight()
    });
    
    function fetch_flight() {
        $("#display_flight_panel").show()
        console.log($("#departure_city").val());
        $("#flight_list").html('查询中, 请稍候...')
        $.getJSON(
            "/flight/search/async",
            {
                departure_city: $("#departure_city").val(),
                arrival_city:   $("#arrival_city").val(),
                departure_date: $("#departure_date").val(),
                type:  'search',
            },
            function(data) {
                  console.log(data)
                  switch($(".choosed").val()){
                        case 0:
                            break;
                        case 1:
                            data.flight.sort(function(a,b){
                                return (a[5]-b[5])
                            });
                            break;
                        case 2:
                            data.flight.sort(function(a,b){
                                return (time_dif(a[1],b[1]))
                            });
                            break;
                        case 3:
                            data.flight.sort(function(a,b){
                                return (time_dif(b[1],a[1]))
                            });
                            break;
                        case 4:
                            data.flight.sort(function(a,b){
                                return (time_dif(a[2],b[2]))
                            });
                            break;
                        case 5:
                            data.flight.sort(function(a,b){
                                   return (time_dif(b[2],a[2]))
                                   });
                            break;
                        case 6:
                            data.flight.sort(function(a,b){
                                   return (time_dif_day(time_dif(a[2],a[1])) - time_dif_day(time_dif(b[2],b[1])))
                                   });
                            break;
                        case 7:
                            data.flight.sort(function(b,a){
                                   return (time_dif_day(time_dif(a[2],a[1])) - time_dif_day(time_dif(b[2],b[1])))
                                   });
                            break;
                  }
                $("#flight_list").html('')
                strdata="<td class=info_td>航班号</td><td class=info_td><strong>航班信息</strong></td>"+"<td class=info_td><strong>起降时间</strong></td>"+"<td class=info_td><strong>总时长</strong></td>"+"<td class=info_td><strong>起飞机场</strong></td>"+"<td class=info_td><strong>降落机场</strong></td>"+"<td class=info_td><strong>最低报价(元)</strong></td>"+"<td class=info_td><strong>其他费用</strong></td>"+"<td style=\"width:15%;\"></td>"
                $("#flight_list").append($("<tr>",{html:strdata}))
                for (var i in data.flight) {
                  fill_list (data.flight[i])
                }
                if (data.flight.length == 0){
                  $("#flight_list").html('未查询到满足条件的航班')
                }
            }
        );
    }
    
    function fill_list(flight){
        strdata = "<tr><td id='flt_no'>"+flight[8]+"</td>"// number
        strdata = strdata+"<td>"+flight[0]+"</td>"// airline
        strdata = strdata+"<td>"+"起飞时间："+flight[1]+"<br>"+"抵达时间："+flight[2]+"</td>" //d_time
        strdata = strdata+"<td>"+time_strformat(time_dif_day(time_dif(flight[2],flight[1])))+"</td>" //a_time
        strdata = strdata+"<td>"+flight[3]+"</td>" //d_city
        strdata = strdata+"<td>"+flight[4]+"</td>" //a_city
        strdata = strdata+"<td id='price'>"+flight[5]+"</td>"//price
        strdata = strdata+"<td>燃料费:"+flight[6]+"<br>机建费:"+flight[7]+"</td>"
        strdata = strdata+"<td><button class=\"btn btn-info\" onclick=\"submit_flight_book($(this).parent().parent().children('#flt_no').html(),$('#departure_date').val(),$(this).parent().parent().children('#price').html())\">订购 »</button></td></tr>"
        $("#flight_list").append($("<tbody>",{html:strdata}))
    }

    function time_dif(time1, time2){
        // hh:mm
        var h1, h2, h3, _m1, _m2, _m3;
        var reg = /:/;
        //dayinfo -  用正则分割
        var T1 = time1.split(reg);
        var T2 = time2.split(reg);
        
        var date1 = new Date("1998","01","01",T1[0],T1[1],"00");
        var date2 = new Date("1998","01","01",T2[0],T2[1],"00");
        
        //用距标准时间差来获取相距时间
        return Date.parse(date1) - Date.parse(date2);
    }
    
    function time_dif_day(minsec){
        if(minsec < 0)minsec = minsec + 1*24*60*60*1000;
        return minsec;
    }
    
    function time_strformat(minsec){
        var hh = Math.floor(minsec / 1000 / 60 / 60);
        var mm = (minsec - hh * 60 * 60 * 1000) / 1000 / 60;
        strdata = " " + hh + "小时"
        if( mm != 0) strdata = strdata + mm + "分钟";
        
        return strdata;
    }
    
    $("#bookquery").hide()
    function submit_flight_book(flt_no,d_date,f_price){
        strdata = "<input type=\"text\" name=\"type\" value=\"flight\">"
        strdata = strdata + "<input type=\"text\" name=\"flight_number\" value=\"" + flt_no + "\">"
        strdata = strdata + "<input type=\"text\" name=\"date\" value=\"" + d_date + "\">"
        strdata = strdata + "<input type=\"text\" name=\"price\" value=\"" + f_price + "\">"
        $("#bookquery").append(strdata)
        $("#bookquery").submit()
    }
    
    </script>

  </body>
  
</html>
