<!DOCTYPE html>
<html>
  <head>
    <title>国内机票搜索</title>   
    <meta charset=utf-8>        
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/style_nomal.css" rel="stylesheet" type="text/css" />
    <link href="/css/3.css" rel="stylesheet" type="text/css">
<!--what a mess code.-->
<script src="/js/jquery.js"></script>
<script>
function fetch_flight(d_city, a_city, d_date) { 
    console.log(d_city);
    $('#flight_list').html('查询中, 请稍候...')
    $.getJSON(
        "/flight/search/async",
        { 
            departure_city: d_city, 
            arrival_city:   a_city, 
            departure_date: d_date, 
        },
              function(data) {
              console.log(data)
              $('#flight_list').html('')
              $('#flight_table').html('')
              $('#flight_row').html('')
              $('#flight_time1').html('')
              $("#flight_list").append($("<div class=info_div>"))
              $("#flight_table").append($("<table class=info_table>"))
              $("#flight_list").append($("<tr>"))
              $("#flight_list").append($("<td class=info_td>"))
              $("#flight_list").append($("<td>",{html:"航班信息"}))
              $("#flight_list").append($("<td class=info_td>"))
              $("#flight_list").append($("<td>",{html:"起飞时间"}))
              $("#flight_list").append($("<td class=info_td>"))
              $("#flight_list").append($("<td>",{html:"降落时间"}))
              $("#flight_list").append($("<td class=info_td>"))
              $("#flight_list").append($("<td>",{html:"起飞机场"}))
              $("#flight_list").append($("<td class=info_td>"))
              $("#flight_list").append($("<td>",{html:"降落机场"}))
              $("#flight_list").append($("<td class=info_td>"))
              $("#flight_list").append($("<td>",{html:"最低报价"}))

              
              for (var i in data.flight) {
              flight = data.flight[i]
              $("#flight_list").append($("<div>",{html:flight[13]+flight[1]}))
              $("#flight_list").append($("<div>",{html:flight[2]}))
              $("#flight_list").append($("<div>",{html:flight[4]}))
              $("#flight_list").append($("<div>",{html:flight[11]}))
              $("#flight_list").append($("<div>",{html:flight[12]}))
              $("#flight_list").append($("<div>",{html:flight[3]}))
              $("#flight_list").append($("<button class=btn btn-info >"))


//              $("#flight_list").append($("<tr>"))
//              $("#flight_list").append($("<td class=info_td>"))
//              $("#flight_list").append($("<td>",{html:flight[13]+flight[1]}))
//              $("#flight_list").append($("<td class=info_td>"))
//              $("#flight_list").append($("<td>",{html:flight[2]}))
//              $("#flight_list").append($("<td class=info_td>"))
//              $("#flight_list").append($("<td>",{html:flight[4]}))
//              $("#flight_list").append($("<td class=info_td>"))
//              $("#flight_list").append($("<td>",{html:flight[11]}))
//              $("#flight_list").append($("<td class=info_td>"))
//              $("#flight_list").append($("<td>",{html:flight[12]}))
//              $("#flight_list").append($("<td class=info_td>"))
//              $("#flight_list").append($("<td>",{html:flight[3]}))
//              $("#flight_list").append($("<td class=info_td>"))
//              $("#flight_list").append($("<button class=btn btn-info >"))
              
          }
              if (data.flight.length == 0)
              $('#flight_list').html('未查询到满足条件的航班')
              }
              );
}
</script>

  </head>
  <body>
  
  
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">

          <a class="brand" href="#">Online Payment</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li><a href="#">账户设置</a></li>
              <li><a href="order_manage.html">我是买家</a></li>
              <li><a href="#contact">我是卖家</a></li>
			  <li class="active"><a href="#contact">淘宝贝</a></li>
			  <li><a href="#contact">在线预订</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
   <div class="hero-unit"></div>
   <div class="container-fluid">
	<div class="row-fluid">
		  <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">酒店</li>
              <li><a href="hotelbooking.html">酒店预定</a></li>
              <li><a href="innbooking.html">旅馆预定</a></li>			
              <li class="nav-header">航班</li>
              <li><a href="interflight.html">国际航班</a></li>
			  <li class="active"><a href="domeflight.html">国内航班</a></li>
                <li class="nav-header">订单管理</li>
                <li ><a href="/trade/booking_history">订单历史</a></li>
                <li ><a href="/trade/comment">评价</a></li>

            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span10">
  <div class="main">
	  <div class="rimidebox">
		<a href="bookindex.html">预定系统</a><span>>></span><a href="bookindex.html"></a><span><a href="domeflight.html"> 机票预定</a></span>>><span><a href="domeflight.html"> 国内机票搜索</a></span>
      </div>
	  <div class="well sidebar-nav">
	  <div class="order_list">
		<div class="hotelbook">
				<div class="row-fluid">
                    <div class="span1 offset1"><input type="checkbox" checked>单程</input></div>
                    <div class="span1"><input type="checkbox">往返</input></div>
                </div>
                <div class="row-fluid">
                    <div class="span1"> 城市</div>
                    <div class="span1">
                        <input type="text" value="杭州" size="20" id="departure_city" value maxlength="30">
                    </div>
                    <div class="span2"></div>
                    <div class="span2">
                        <input type="text" value="北京" size="20" id="arrival_city" value maxlength="30">
                    </div>
                </div>

				<div class="row=fluid">
					<div class="span1">出发日期</div>
					<div class="span11"><input type="text" placeholder="yyyy/mm/dd" size="20" id="departure_date" value maxlength="30"></input></div>
                </div>
                <input class="search_button" type="button" value="搜索"
                        onclick="fetch_flight(
                            $('#departure_city').val(),
                            $('#arrival_city').val(),
                            $('#departure_date').val()
                            )">
                        
		</div>		
	   </div>
        <div id='flight_list' style="display:inline" >
        <table id='flight_table'>
        <tr id='flight_row'>
        <td id='flight_time1'>
        
    
                        </table>
        </div>
        
	  </div>
    </div>
		</div>
	</div>
   </div>
  
  <footer class="tail">
		<hr>
        <a href="">关于我们</a>
        <a href="">合作伙伴</a>
        <a href="">联系客服</a>
        <a href="../other/connect_us.html">联系我们</a>
        <a href="../other/map.html">网站地图</a>
        <span>© 2013 Black.com 版权所有</span>
   </footer>
  </body>
  
</html>
